.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    width: 20%;
    height: 100%;
    background: linear-gradient(45deg, #2196F3, #673AB7);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

#map {
    width: 80%;
    height: 100%;
}

.image-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.image-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.popup-image {
    max-width: 100%;
    max-height: 70vh;
    transition: opacity 0.3s ease;
}

.popup-thumbnail-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.popup-thumbnail {
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.popup-thumbnail:hover {
    opacity: 1;
}

.popup-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Magnifier styles */
.magnifier {
    position: absolute;
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    border-radius: 50%; /* Makes it circular; remove for square */
    border: 2px solid #fff;
    background-repeat: no-repeat;
    pointer-events: none; /* Prevents interference with mouse events */
    display: none; /* Hidden by default */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}